<div class="error">
  <div class="error__container">
    <header class="error__header">
      <img
        class="error__logo"
        src="../../assets/images/xpaids.svg"
        width="217"
        height="21"
        alt="logo xpaids"
      />
      <img
        class="error__img"
        src="../../assets/images/logo.svg"
        width="28"
        height="28"
        alt="logo"
      />
    </header>

    <div class="error__wrap">
      <p class="error__404">404</p>

      <h1 class="error__title">The page you’re looking for can’t be found</h1>

      <p class="error__subtitle">Send. Get. Pay. Crypto.</p>

      <button class="error__btn btn btn__large btn__blue" routerLink="/">
        <span>Go xPaids</span>
      </button>

      <div class="error__copyright">
        xPaids Inc. Copyright 2023. All right reserved.
      </div>

      <a href="/" class="error__company">xpaids.com</a>
    </div>
  </div>
</div>
