@use "../../assets/styles/functions" as functions;

.container {
  width: 100%;
  max-width: 320px;
  padding: 0 var(--padding);
  margin: 0 auto;

  @media (min-width: 480px) {
    max-width: 480px;
  }

  @media (min-width: 640px) {
    max-width: 484px;
  }

  @media (min-width: 960px) {
    max-width: 490px;
  }

  @media (min-width: 1200px) {
    max-width: 510px;
  }
}

.login {
  padding: functions.rem(69) 0 functions.rem(67);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: functions.rem(29);

    @media (max-width: 639.98px) {
      margin-bottom: functions.rem(30);
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: functions.rem(6);
  }

  &__img {
    width: functions.rem(48);
    height: functions.rem(48);
    margin-bottom: functions.rem(51);
  }

  &__title {
    font-weight: 600;
    font-size: functions.rem(34);
    line-height: calc(41 / 34);
    letter-spacing: functions.rem(-0.4);
  }

  &__subtitle {
    margin: 0;
    letter-spacing: functions.rem(-0.3);
    color: rgba(60, 60, 67, 0.6);

    a {
      color: var(--primary);
    }
  }
}

.checkmark {
  font-size: functions.rem(14.5);
  line-height: calc(18 / 14.5);
  letter-spacing: functions.rem(-0.45);
  margin-bottom: functions.rem(14);
  cursor: pointer;

  &__checkbox {
    position: relative;
    top: functions.rem(1.5);
    display: inline-block;
    margin-right: functions.rem(6.5);
    width: 14px;
    height: 14px;
    background-image: linear-gradient(180deg, #4b91f7 0%, #367af6 100%);
    border: functions.rem(0.5) solid rgba(0, 0, 0, 0.12);
    border-radius: functions.rem(3);
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: calc(50% + 0.5px);
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: url("../../assets/checkmark.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 10px;
      height: 10px;
      opacity: 0;
      transition: opacity 0.2s linear;
    }
  }

  &__input {
    display: none;

    &:checked {
      & + i {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: rgba(60, 60, 67, 0.6);
  font-weight: 500;

  &__group {
    margin-bottom: functions.rem(30);
    width: 100%;

    @media (min-width: 1200px) {
      margin-bottom: functions.rem(31);
    }
  }

  &__field {
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;

    &:nth-of-type(1) {
      .form__input {
        .form__group-dubble & {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    &:nth-of-type(2) {
      .form__input {
        .form__group-dubble & {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }

    &-error {
      color: var(--error);
    }
  }

  &__xpaid {
    position: absolute;
    top: functions.rem(28);
    right: functions.rem(13);
    width: 21px;
    height: 21px;
    transform: translateY(-50%);
    mask-image: url("../../assets/xpaidsID.svg");
    mask-position: center center;
    mask-size: 100% 100%;
    background-color: #bdbdbd;
    font-size: 0;

    .form__field-error & {
      background-color: var(--error);
    }
  }

  &__input {
    border: 1px solid var(--border-input);
    border-radius: functions.rem(12);
    width: 100%;
    color: var(--primary-txt);
    padding: functions.rem(25.5) functions.rem(14) functions.rem(8);

    .form__field-error & {
      background: rgba(214, 98, 98, 0.1);
      border-color: var(--error);
    }

    &:focus,
    .form__field-touched & {
      + .form__title {
        font-size: functions.rem(11);
        line-height: functions.rem(13);
        top: functions.rem(16);

        .form__field:not(.form__field-error) & {
          color: var(--secondary);
        }
      }
    }
  }

  &__title {
    position: absolute;
    top: 28px;
    left: 14px;
    transform: translateY(-50%);
    letter-spacing: functions.rem(-0.5);
    transition: all 0.2s linear;
    cursor: text;
  }

  &__error {
    display: flex;
    color: var(--error);
    font-weight: 400;
    font-size: functions.rem(12.5);
    line-height: calc(16 / 14);
    margin-top: functions.rem(8);
    letter-spacing: functions.rem(0.05);
    transition: all 0.3s linear;

    &::before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background-image: url("../../assets/exclamationmarkcircle.svg");
      background-size: 100% 100%;
      margin-right: functions.rem(5);
    }
  }

  &__submit {
    text-align: center;
    padding: functions.rem(4) functions.rem(14);
    background-image: var(--bg2);
    border-radius: functions.rem(20);
    font-weight: 500;
    letter-spacing: functions.rem(-0.3);
    color: var(--white);

    &:disabled {
      opacity: 0.4;
    }
  }

  a {
    color: var(--primary);
  }
}

.forgot {
  &__link {
    font-weight: 400;
    line-height: calc(18 / 17);
    letter-spacing: functions.rem(-0.35);
    color: var(--primary);
  }
}

.sign-in-with {
  width: 100%;
  margin-top: functions.rem(30);

  &__title {
    position: relative;
    font-weight: 400;
    font-size: functions.rem(15);
    line-height: calc(18 / 15);
    letter-spacing: functions.rem(-0.2);
    text-align: center;
    color: var(--secondary-txt);
    margin-bottom: functions.rem(30);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 1px;
      background-color: var(--border-input);
    }

    span {
      isolation: isolate;
      display: inline-block;
      background-color: var(--white);
      padding: 0 functions.rem(24);
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: functions.rem(32);
  }

  &__link {
    padding: functions.rem(16);
    width: functions.rem(52);
    height: functions.rem(52);
    border: 1px solid var(--border-input);
    border-radius: functions.rem(12);
    font-size: 0;
    background-position: center center;
    background-repeat: no-repeat;

    &-google {
      background-image: url("../../assets/google.svg");
      background-size: 20px 20px;
    }

    &-apple {
      background-image: url("../../assets/apple.svg");
      background-size: 16px 20px;
    }

    &-facebook {
      background-image: url("../../assets/facebook.svg");
      background-size: 20px 20px;
    }
  }
}
