.login {
  padding: 40px 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    max-width: 320px;
    padding: 0 var(--padding);
    margin: 0 auto;

    @media (min-width: 480px) {
      max-width: 480px;
    }

    @media (min-width: 640px) {
      max-width: 484px;
    }

    @media (min-width: 960px) {
      max-width: 490px;
    }

    @media (min-width: 1200px) {
      max-width: 510px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 30px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }

  &__img {
    width: 48px;
    height: 48px;
    margin-bottom: 50px;
  }

  &__title {
    letter-spacing: -0.4px;
  }

  &__subtitle {
    margin: 0;
    letter-spacing: -0.3px;
    color: rgba(60, 60, 67, 0.6);

    a {
      color: var(--primary);
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: rgba(60, 60, 67, 0.6);
  font-weight: 500;

  &__group {
    margin-bottom: 30px;
    width: 100%;
  }

  &__field {
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;

    &:nth-of-type(1) {
      .form__input {
        .form__group-dubble & {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    &:nth-of-type(2) {
      .form__input {
        .form__group-dubble & {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }
    }

    &-error {
      color: var(--error);
    }
  }

  &__xpaid {
    position: absolute;
    top: 28px;
    right: 13px;
    width: 21px;
    height: 21px;
    transform: translateY(-50%);
    mask-image: url("../../assets/images/xpaidsID.svg");
    mask-position: center center;
    mask-size: 100% 100%;
    background-color: var(--secondary-input);
    font-size: 0;

    .form__field-error & {
      background-color: var(--error);
    }
  }

  &__input {
    border: 1px solid var(--border-input);
    border-radius: 12px;
    width: 100%;
    color: var(--primary-txt);
    letter-spacing: -0.5px;
    padding: 25.5px 14px 8px;

    .form__field-error & {
      background: rgba(214, 98, 98, 0.1);
      border-color: var(--error);

      & + .form__title {
        color: var(--error);
      }
    }

    &:focus {
      border-color: var(--border-active);
    }

    &:focus,
    .form__field-touched & {
      + .form__title {
        font-size: 11px;
        line-height: 13px;
        top: 16px;
      }
    }
  }

  &__title {
    position: absolute;
    top: 28px;
    left: 14px;
    transform: translateY(-50%);
    letter-spacing: -0.5px;
    transition: all 0.2s linear;
    color: var(--secondary-input);
    cursor: text;
  }

  &__error {
    display: flex;
    color: var(--error);
    font-weight: 400;
    font-size: 12.5px;
    line-height: calc(16 / 14);
    margin-top: 8px;
    letter-spacing: 0.05px;
    transition: all 0.3s linear;

    &::before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background-image: url("../../assets/images/exclamationmarkcircle.svg");
      background-size: 100% 100%;
      margin-right: 5px;
    }
  }

  &__submit {
    text-align: center;
    padding: 4px 14px;
    background-image: var(--bg2);
    border-radius: 20px;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: var(--white);

    &:disabled {
      opacity: 0.4;
    }
  }

  &__checkmark {
    margin-bottom: 15px;

    .checkmark__checkbox {
      margin-right: 7px;
    }
  }

  a {
    color: var(--primary);
  }
}

.forgot {
  &__link {
    font-weight: 400;
    line-height: calc(18 / 17);
    letter-spacing: -0.35px;
    color: var(--primary);
  }
}

.sign-in-with {
  width: 100%;
  margin-top: 29px;

  &__title {
    position: relative;
    font-weight: 400;
    font-size: 15px;
    line-height: calc(18 / 15);
    letter-spacing: -0.2px;
    text-align: center;
    color: var(--secondary-txt);
    margin-bottom: 30px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      height: 1px;
      background-color: var(--border-input);
    }

    span {
      isolation: isolate;
      display: inline-block;
      background-color: var(--white);
      padding: 0 24px;
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
  }

  &__link {
    position: relative;
    overflow: hidden;
    padding: 1px;
    width: 52px;
    height: 52px;
    border-radius: 12px;
    font-size: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }

    &::before {
      background-color: var(--border-input);
    }

    &::after {
      background-image: linear-gradient(rgba(183, 33, 255, 1), rgba(78, 87, 188, 1), rgba(33, 212, 253, 1));
      opacity: 0;
      transition: inherit;
    }

    @media (hover) {
      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }

    &-google {
      span {
        background-image: url("../../assets/images/google.svg");
        background-size: 20px 20px;
      }
    }

    &-apple {
      span {
        background-image: url("../../assets/images/apple.svg");
        background-size: 16px 20px;
      }
    }

    &-facebook {
      span {
        background-image: url("../../assets/images/facebook.svg");
        background-size: 20px 20px;
      }
    }

    span {
      position: relative;
      z-index: 2;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 11px;
      isolation: isolate;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: var(--white);
    }
  }
}
