<div class="create-account">
  <div class="create-account__container container">
    <img
      class="create-account__img"
      src="../assets/logo.svg"
      width="48"
      height="48"
      alt="logo"
    />

    <div class="create-account__content">
      <h2 class="create-account__title">Create Account</h2>

      <div class="create-account__description">
        <p class="create-account__subtitle">
          Join us to xPaids Banking Metaverse.
        </p>
        <p class="create-account__subtitle">
          One account for everything xPaids.
        </p>
      </div>
    </div>

    <form
      [formGroup]="createForm"
      (ngSubmit)="onSubmit()"
      class="create-account__form form"
    >
      <fieldset class="form__group">
        <label
          [ngClass]="[
            createForm.get('firstName')?.dirty &&
            createForm.get('firstName')?.value != null && 
            createForm.get('firstName')?.value != ''
              ? 'form__field-touched'
              : '',

            createForm.get('firstName')?.errors &&
            createForm.get('firstName')?.dirty
              ? 'form__field-error'
              : ''
          ]"
          class="form__field"
        >
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            class="form__input"
          />
          <span class="form__title">First name</span>
          <span
            *ngIf="
              createForm.get('firstName')?.errors &&
              createForm.get('firstName')?.dirty
            "
            class="form__error"
            >Enter a First name</span
          >
        </label>

        <label
          [ngClass]="[
            createForm.get('lastName')?.dirty &&
            createForm.get('lastName')?.value != null && 
            createForm.get('lastName')?.value != ''
              ? 'form__field-touched'
              : '',

            createForm.get('lastName')?.errors &&
            createForm.get('lastName')?.dirty
              ? 'form__field-error'
              : ''
          ]"
          class="form__field"
        >
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            class="form__input"
          />
          <span class="form__title">Last name</span>
          <span
            *ngIf="
              createForm.get('lastName')?.errors &&
              createForm.get('lastName')?.dirty
            "
            class="form__error"
            >Enter a Last name</span
          >
        </label>

        <label
          [ngClass]="[
            createForm.get('email')?.dirty &&
            createForm.get('email')?.value != null && 
            createForm.get('email')?.value != ''
              ? 'form__field-touched'
              : '',

            createForm.get('email')?.errors && createForm.get('email')?.dirty
              ? 'form__field-error'
              : ''
          ]"
          class="form__field"
        >
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form__input"
          />
          <span class="form__title">Email</span>
          <span
            *ngIf="
              createForm.get('email')?.errors && createForm.get('email')?.dirty
            "
            class="form__error"
            >Please enter a valid email</span
          >
          <span class="form__hint">This will be your new xPaids ID</span>
        </label>

        <label
          [ngClass]="[
            createForm.get('password')?.dirty &&
            createForm.get('password')?.value != null && 
            createForm.get('password')?.value != ''
              ? 'form__field-touched'
              : '',

            createForm.get('password')?.errors &&
            createForm.get('password')?.dirty
              ? 'form__field-error'
              : ''
          ]"
          class="form__field"
        >
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form__input"
          />
          <span class="form__title">Password</span>
          <span
            *ngIf="
              createForm.get('password')?.errors &&
              createForm.get('password')?.dirty
            "
            class="form__error"
            >Please enter password</span>
        </label>

        <label
          [ngClass]="[
            createForm.get('passwordConfirm')?.dirty &&
            createForm.get('passwordConfirm')?.value != null && 
            createForm.get('passwordConfirm')?.value != ''
              ? 'form__field-touched'
              : '',

            createForm.get('passwordConfirm')?.errors &&
            createForm.get('passwordConfirm')?.dirty
              ? 'form__field-error'
              : ''
          ]"
          class="form__field"
        >
          <input
            type="password"
            id="passwordConfirm"
            formControlName="passwordConfirm"
            class="form__input"
          />
          <span class="form__title">Confirm password</span>
          <span
            *ngIf="
              createForm.get('passwordConfirm')?.errors &&
              createForm.get('passwordConfirm')?.dirty
            "
            class="form__error"
            >Please confirm password</span
          >
        </label>

        <label
          class="form__field"
          [ngClass]="[
            createForm.get('promocode')?.dirty &&
            createForm.get('promocode')?.value != null && 
            createForm.get('promocode')?.value != ''
              ? 'form__field-touched'
              : '',

            createForm.get('promocode')?.errors &&
            createForm.get('promocode')?.dirty
              ? 'form__field-error'
              : ''
          ]"
        >
          <input
            type="number"
            id="promocode"
            formControlName="promocode"
            class="form__input"
          />
          <span class="form__title">Promocode</span>
          <span
            *ngIf="
              createForm.get('promocode')?.errors &&
              createForm.get('promocode')?.dirty
            "
            class="form__error"
            >error</span
          >
          <button class="form__promocode">Info</button>
        </label>
      </fieldset>

      <p class="form__login">Already have an account? <a href="/">Log in</a></p>

      <label class="form__checkmark checkmark">
        <input class="checkmark__input" type="checkbox" name="checkbox" />
        <i class="checkmark__checkbox"></i>

        I agree with our <a href="/">Terms</a> and <a href="/">Conditions</a>
      </label>

      <button class="form__submit" type="submit" [disabled]="createForm.invalid">Continue</button>
    </form>
  </div>
</div>
