<div class="create-account">
  <div class="create-account__container container">
    <img
      class="create-account__img"
      src="../assets/logo.svg"
      width="48"
      height="48"
      alt="logo"
    />

    <div class="create-account__content">
      <h2 class="create-account__title">Create Account</h2>

      <div class="create-account__description">
        <p class="create-account__subtitle">
          Join us to xPaids Banking Metaverse.
        </p>
        <p class="create-account__subtitle">
          One account for everything xPaids.
        </p>
      </div>
    </div>

    <form [formGroup]="createForm" class="create-account__form form">
      <fieldset class="form__group">
        <label class="form__field">
          <input
            type="text"
            id="firstName"
            formControlName="firstName"
            class="form__input"
            required
          />
          <span class="form__title">First name</span>
          <span *ngIf="false" class="form__error">Enter a First name</span>
        </label>

        <label class="form__field">
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            class="form__input"
            required
          />
          <span class="form__title">Last name</span>
          <span *ngIf="false" class="form__error">Enter a Last name</span>
        </label>

        <label class="form__field">
          <input
            type="email"
            id="email"
            formControlName="email"
            class="form__input"
            required
          />
          <span class="form__title">Email</span>
          <span *ngIf="false" class="form__error">Please enter a valid email</span>
          <span class="form__hint">This will be your new xPaids ID</span>
        </label>

        <label class="form__field">
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form__input"
            required
          />
          <span class="form__title">Password</span>
        </label>

        <label class="form__field">
          <input
            type="password"
            id="passwordConfirm"
            formControlName="passwordConfirm"
            class="form__input"
            required
          />
          <span class="form__title">Confirm password</span>
          <span *ngIf="false" class="form__error">Please confirm password</span>
        </label>

        <label class="form__field">
          <input
            type="number"
            id="promocode"
            formControlName="promocode"
            class="form__input"
            required
          />
          <span class="form__title">Promocode</span>
          <span *ngIf="false" class="form__error">error</span>
          <button class="form__promocode">Info</button>
        </label>
      </fieldset>

      <p class="form__login">
        Already have an account? <a href="/">Log in</a>
      </p>

      <label class="form__checkmark checkmark">
        <input class="checkmark__input" type="checkbox" name="checkbox" />
        <i class="checkmark__checkbox"></i>

        I agree with our <a href="/">Terms</a> and <a href="/">Conditions</a>
      </label>

      <button class="form__submit" type="submit">Continue</button>
    </form>
  </div>
</div>
