<div class="email verify">
  <div class="verify__container">
    <div class="email__container container">
      <div class="email__header verify__header">
        <img
          src="../../assets/images/xpaids.svg"
          width="157"
          height="15"
          alt="logo xpaids"
        />
        <img src="../../assets/images/logo.svg" width="24" height="24" alt="logo" />
      </div>
  
      <h1 class="email__title verify__title">Verify your xPaids ID</h1>
  
      <h2 class="verify__hi">Hi, (First name)!</h2>
  
      <p class="verify__subtitle">
        You have chosen this email as the new xPaids ID.
        <span
          >To confirm registration, enter the code on the confirmation page:</span
        >
      </p>
  
      <div class="verify__password">452831</div>
  
      <div class="follow">
        <h3 class="follow__title">
          <span>Or follow the <a href="/">link to confirm</a></span>
        </h3>
      </div>
  
      <p class="verify__subtitle">
        For the financial security of your account this code
        <span>will expire three hours after this email was sent.</span>
      </p>
  
      <p class="verify__subtitle">
        Your xPaids ID cannot be used until you verify it.
        <span>If you did not send this request, you can ignore this email.</span>
      </p>
  
      <div class="email__copyright verify__copyright">
        xPaids Inc. Copyright 2023. All right reserved.
      </div>
  
      <a href="/" class="email__company">xpaids.com</a>
    </div>
  </div>
</div>
