@import "./assets/styles/main.scss";

app-root,
app-login,
app-create,
app-confirmed,
app-verify {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

app-login,
app-create,
app-confirmed,
app-verify {
  justify-content: center;
}