@import "./assets/styles/main.scss";

app-root,
app-login,
app-create,
app-confirmed,
app-verify,
app-error,
app-recovery {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

app-login,
app-create,
app-confirmed,
app-verify,
app-error,
app-recovery {
  justify-content: center;
}