:root {
  --primary: #1d1d1f;
  --white: #ffffff;
  --blue: #007aff;
  --error: #d66262;
  --secondary: #bdbdbd;
  --bgButton: linear-gradient(70.6deg, #b721ff 0%, #4e57bc 48.2%, #21d4fd 100%);

  --padding: 20px;
  --mainFonts: "SF UI Display";
}

@import "./fonts";
@import "./reset";
