:root {
  --error: #d66262;
  --ok: #62d669;
  --primary: #007aff;
  --primary-txt: #1d1d1f;
  --border-input: #e0e0e0;
  --border-active: #63a5ff;
  --secondary-txt: #8a8a8e;
  --secondary-input: #bdbdbd;
  --white: #ffffff;

  --bg1: linear-gradient(81.79deg, #ebd300 6.79%, #ff845e 45.63%, #ff94e1 83.66%);
  --bg2: linear-gradient(70.6deg, #b721ff 0%, #4e57bc 48.2%, #21d4fd 100%);

  --padding: 20px;
  --mainFonts: "SF UI Display";
}

@import "./fonts";
@import "./reset";

h1 {
  font-weight: 600;
  font-size: 34px;
  line-height: calc(41 / 34);
}

h2 {
  font-weight: 600;
  font-size: 27px;
  line-height: calc(32 / 27);
}

h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(24 / 20);
}

h4 {
  font-weight: 600;
  font-size: 17px;
  line-height: calc(20 / 17);
}

.btn {
  position: relative;
  isolation: isolate;
  font-weight: 500;
  letter-spacing: -0.3px;
  text-align: center;
  padding: 4px 14px;
  border-radius: 20px;
  overflow: hidden;
  min-width: 98px;

  &__cancel {
    background-color: #ececec;
    color: var(--secondary-txt);
  }

  &__continue {
    color: var(--white);

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      transition: inherit;
    }

    &::before {
      background-image: var(--bg2);
    }

    &::after {
      background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
        linear-gradient(70.6deg, #b721ff 0%, #4e57bc 48.2%, #21d4fd 100%);
      opacity: 0;
    }

    @media (hover) {
      &:enabled {
        &:hover {
          &::after {
            opacity: 1;
          }
        }
      }
    }

    &:disabled {
      &::before {
        opacity: 0.4;
      }
    }

    span {
      isolation: isolate;
    }
  }
}

.prompt {
  position: absolute;
  padding: 16px 18px;
  background-color: #f8f8f8;
  border: 1px solid var(--border-input);
  border-radius: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: calc(16 / 13);
  letter-spacing: -0.2px;
  text-align: center;
  color: var(--secondary-txt);
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s linear;
}

.checkmark {
  font-size: 14.5px;
  line-height: calc(18 / 14.5);
  letter-spacing: -0.2px;
  margin-bottom: 15px;
  cursor: pointer;

  &__checkbox {
    position: relative;
    top: 1.5px;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 6.5px;
    border: 0.5px solid rgba(0, 0, 0, 0.12);
    border-radius: 3px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: -0.5px;
      left: -0.5px;
      width: calc(100% + 1px);
      height: calc(100% + 1px);
      background-image: url("../../assets/Checkbox.svg");
      background-size: 100% 100%;
      opacity: 0;
      transition: opacity 0.2s linear;
    }
  }

  &__input {
    display: none;

    &:checked {
      & + i {
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
