@forward "../../assets/styles/email-pages";
@use "../../assets/styles/functions" as functions;

.container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: 640px) {
    max-width: 448px;
  }

  @media (min-width: 960px) {
    max-width: 450px;
  }

  @media (min-width: 1200px) {
    max-width: 470px;
  }
}

.confirmed {
  padding: functions.rem(70) var(--padding);

  &__header {
    margin-bottom: functions.rem(50);
  }

  &__done {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 auto;
    margin-bottom: functions.rem(30);
  }

  &__title {
    margin-bottom: functions.rem(16);
  }

  &__btn {
    padding: functions.rem(8) functions.rem(14);
  }

  &__subtitle {
    font-size: functions.rem(15);
    line-height: calc(18 / 15);
    color: var(--secondary);
    margin-bottom: functions.rem(40);
    text-align: center;
    letter-spacing: functions.rem(-0.2);

    @media (max-width: 479.98px) {
      font-size: functions.rem(13);
    }
  }

  &__copyright {
    margin-top: functions.rem(40);
    margin-bottom: functions.rem(27);
  }
}
