<div class="confirmed">
  <div class="confirmed__container">
    <header class="confirmed__header">
      <img
      class="confirmed__logo"
        src="../../assets/images/xpaids.svg"
        width="217"
        height="21"
        alt="logo xpaids"
      />
      <img class="confirmed__img" src="../../assets/images/logo.svg" width="28" height="28" alt="logo" />
    </header>

    <div class="confirmed__wrap">
      <img
        class="confirmed__done"
        src="../../assets/images/done.svg"
        width="48"
        height="48"
        alt="done"
      />

      <h1 class="confirmed__title">Your xPaids ID Confirmed!</h1>

      <p class="confirmed__subtitle">
        This page will close automatically after 10 sec.
      </p>

      <p class="confirmed__timer">8</p>

      <button class="confirmed__btn btn btn__large btn__blue" routerLink="/">
        <span>Go xPaids</span>
      </button>

      <div class="confirmed__copyright">
        xPaids Inc. Copyright 2023. All right reserved.
      </div>

      <a href="/" class="confirmed__company">xpaids.com</a>
    </div>
  </div>
</div>