.recovery {
  &__container {
    padding: 70px 20px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: 640px) {
      max-width: 488px;
    }

    @media (min-width: 960px) {
      max-width: 490px;
    }

    @media (min-width: 1200px) {
      max-width: 510px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 50px;
  }

  &__logo {
    width: 98px;
  }

  &__sign {
    color: var(--primary);
  }

  &__title {
    font-weight: 600;
    font-size: 34px;
    line-height: calc(41 / 34);
    margin-bottom: 30px;
  }

  &__footer {
    display: grid;
    grid-template-columns: 54px 1fr;
    gap: 24px;
    padding-top: 20px;
    border-top: 1px solid var(--border-input);
  }

  &__description {
    font-size: 13px;
    line-height: calc(18 / 13);
    letter-spacing: -0.2px;
    color: var(--secondary-txt);
  }
}

.form {
  margin-bottom: 40px;

  &__label {
    font-size: 13px;
    line-height: calc(16 / 13);
    margin-bottom: 12px;
    color: var(--secondary-txt);
  }

  &__group {
    width: 100%;
    margin-bottom: 18px;
  }

  &__field {
    position: relative;
    isolation: isolate;
    display: flex;
    flex-direction: column;

    &-error {
      color: var(--error);
    }
  }

  &__input {
    border: 1px solid var(--border-input);
    border-radius: 12px;
    width: 100%;
    color: var(--primary-txt);
    padding: 25.5px 14px 8px;

    .form__field-error & {
      background: rgba(214, 98, 98, 0.1);
      border-color: var(--error);

      & + .form__title {
        color: var(--error);
      }
    }

    &:focus {
      border-color: var(--border-active);
    }

    &:focus,
    .form__field-touched & {
      + .form__title {
        font-size: 11px;
        line-height: 13px;
        top: 16px;
      }
    }
  }

  &__title {
    position: absolute;
    top: 28px;
    left: 14px;
    transform: translateY(-50%);
    letter-spacing: -0.5px;
    color: var(--secondary-input);
    transition: all 0.2s linear;
    cursor: text;
  }

  &__error {
    display: flex;
    color: var(--error);
    font-weight: 400;
    font-size: 12.5px;
    line-height: calc(16 / 14);
    margin-top: 8px;
    letter-spacing: 0.05px;
    transition: all 0.3s linear;

    &::before {
      content: "";
      display: block;
      width: 12px;
      height: 12px;
      background-image: url("../../assets/images/exclamationmarkcircle.svg");
      background-size: 100% 100%;
      margin-right: 5px;
    }
  }

  &__forgot {
    letter-spacing: -0.2px;
    color: var(--secondary-txt);
    margin-bottom: 30px;

    a {
      color: var(--primary);
    }
  }
}
